html{
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin: 0;
    background-color:#efefef ;
}
header{
    background-color:rgb(47, 63, 57) ;
    color: white;
    padding: 3rem 2rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
}
.container{
    width: 400px;/*Va en relacion con el tamaño de la imagen*/
    margin: 0 auto ;
}
section article{
    transition: all 0.3s ease ;/*Indicar un comiendo y un final para las funciones de css que queremos que sean 
    animadas*/
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5 rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
section article:hover{
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 2, 0.3); /*Visible la sombra en un 30% */
}
section article h2, section article p{
    margin: 1rem;
}
footer{
    background-color: #222;
    padding: 3rem;
    color: white
}
footer section{
    float: right;
}
/*Copyright aparecia mas abajo que los links a la derecha por que tenia margenes por defecto
<p>*/
footer p{
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: teal;
}